api/.env
api/node_modules/
api/logs/

builder/.env
builder/node_modules/
builder/logs/

executor/.env
executor/node_modules/

frontend/.env
frontend/node_modules/

try-out-script/.env
try-out-script/node_modules/

help.txt